html {
  --color-blue: hsl(193, 46%, 67%);
  --color-light: hsl(166, 23%, 96%);
  --color-dark: hsl(235, 21%, 17%);
  --color-red: hsl(4, 99%, 66%);
  --color-rose: hsl(353, 28%, 62%);
  --color-white: hsl(0, 0, 100%);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
